@import "../styles/defs";

.MessageCard {
  padding: 1rem;
  
  label { 
    font-size: 0.8em; 
    font-weight: 200;

    span {
      color: $secondary-text-color;
    }
  }
  
  &.with-top-border {
    border-top: solid thin $accent-color-yellow;
  }
}