@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Tajawal:300,900&subset=latin-ext');

/* selected with help of https://material.io/color/#!/?view.left=1&view.right=0&primary.color=4A148C&secondary.color=FF80AB&primary.text.color=FAFAFA */
$headline-font-family: Tajawal, sans-serif;

$primary-color: #006cb8;
$primary-text-color: #110800;
$primary-font: 2vmin Tajawal, serif;
$primary-font-family: Tajawal, serif;

$secondary-color: #efefef;
$secondary-text-color: #235789;
$secondary-font: 2vmin Lora, sans-serif;
$secondary-font-family: Lora, sans-serif;

$highlight-color: white;

$error-color: #dd2e24;

$accent-color-blue: #00adee;
$accent-color-red: #b81571;
$accent-color-yellow: #faac3b;
$accent-color-green: #57bb45;
